.dialog-box__cover {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog-box {
	.mdl-card__actions {
		display: flex;
		padding: 16px;
	}

	.mdl-card__supporting-text {
		margin: 0 0 0 30px;
	}
}
