.mdl-layout__header {
	background: url(../images/header-dark.jpg) no-repeat center center;
	// background-color: rgba(0, 0, 0, 0.9);
}

.mdl-layout__header-row {
	padding-right: 0;
	padding-left: 0;
	justify-content: center;
	height: 50px;

	h3 {
		text-shadow: 0px 1px 2px #000;
		font-weight: 300;
	}

	h4 {
		margin: 0;
		font-weight: 300;
		font-style: italic;
	}
}

.mdl-layout__header--scroll {
	box-shadow: 0 2px 2px 2px rgba(0,0,0,.4), 0 1px 2px 0 rgba(0,0,0,0.7);
}

.mdl-layout.is-small-screen .mdl-layout__header-row h3 {
	font-size: 1.4em;
	font-weight: 300;
}

.mdl-layout.is-small-screen .mdl-layout__header-row h4 {
	font-size: 1.2em;
	margin-left: 5px;
	font-weight: 300;
}

header .mdl-layout__tab-bar {
	background-color: rgba(0,0,0,0.4);
}

.mdl-layout__tab-bar-button {
	display: none;
}

.mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
	display: none;
}

.mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
	overflow: visible;
}

.mdl-layout__tab-bar-container {
	height: 64px;
}

.mdl-layout__tab-bar {
	padding: 0;
	padding-left: 16px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.mdl-layout__tab-bar .mdl-layout__tab {
	height: 64px;
	line-height: 64px;
}

.mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
	background-color: white;
	height: 4px;
}

main > .mdl-layout__tab-panel {
	padding: 8px;
	padding-top: 48px;
}