.mdl-layout__header-row {
	padding-left: 40px;
	justify-content: center;
	height: 50px;
}

.mdl-layout.is-small-screen .mdl-layout__header-row h3 {
	font-size: inherit;
}

header .mdl-layout__tab-bar {
	background-color: rgba(0,0,0,0.6);
}

.mdl-layout__tab-bar-button {
	display: none;
}

.mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
	display: none;
}

.mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
	overflow: visible;
}

.mdl-layout__tab-bar-container {
	height: 64px;
}

.mdl-layout__tab-bar {
	padding: 0;
	padding-left: 16px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.mdl-layout__tab-bar .mdl-layout__tab {
	height: 64px;
	line-height: 64px;
}

.mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
	background-color: white;
	height: 4px;
}

main > .mdl-layout__tab-panel {
	padding: 8px;
	padding-top: 48px;
}