section:first-child {
	margin-top: 48px;
}

section.section--center {
	max-width: 860px;
}

.mdl-layout__content section:not(:last-of-type) {
	position: relative;
	margin-bottom: 48px;
}

section > header {
	display: flex;
	align-items: center;
	justify-content: center;
}

section > header > .material-icons {
	font-size: 3rem;
}

section > button {
	position: absolute;
	z-index: 99;
	top: 8px;
	right: 8px;
}

section > .section__play-btn {
	min-height: 200px;
}

section .section__circle {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 0;
	flex-shrink: 1;
}

section .section__text {
	flex-grow: 1;
	flex-shrink: 0;
	padding-top: 8px;
	padding-right: 15px;
}

section .section__text h5 {
	font-weight: 300;
	margin: 0;
	margin-bottom: 0.5em;
}

section .section__circle-container {
	text-align: center;
	min-height: 80px;
	padding-top: 10px;
}

section .section__circle-container > .section__circle-container__circle {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin: 8px 0;
}

section .section__circle-container > img {
	width: auto;
	height: 64px;
}

section.section--footer .section__circle--big {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 8px auto;
}

.is-small-screen {
	section.section--footer .section__circle--big {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		margin: 8px auto;
	}

	section .section__circle--big > img {
		width: 60px;
		height: auto;
	}
}

section.section--footer {
	padding: 64px 0;
	margin: 0 -8px -8px -8px;
}

section.section--center .section__text:not(:last-child) {
	margin-bottom: 15px;
	// border-bottom: 1px solid rgba(0,0,0,.13);
}