<footer class="mdl-mini-footer">
	<div class="mdl-mini-footer__left-section">
		<div class="mdl-logo">Learn:</div>
		<ul class="mdl-mini-footer__link-list">
			<li><a href="/process">Process</a></li>
			<li><a href="/building">Building</a></li>
			<!-- <li><a href="/resources">Resrouces</a></li> -->
		</ul>
	</div>

	<div class="mdl-mini-footer__right-section">
		<!-- <div class="mdl-logo">{{ site.title }}</div>
		<ul class="mdl-mini-footer__link-list">
			<li><a href="about.html">About</a></li>
			<li><a href="legal.html">Privacy & Terms</a></li>
		</ul> -->
		<img src="/favicon.png" style="width: 60px; height: auto;">
	</div>
</footer>