<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="A website for learning more about baugruppen (or: urban cohousing, intentional communities)">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }}</title>

		<!-- Add to homescreen for Chrome on Android -->
		<!-- <meta name="mobile-web-app-capable" content="yes"> -->
		<!-- <link rel="icon" sizes="192x192" href="/images/android-desktop.png"> -->

		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
		<!-- <link rel="apple-touch-icon-precomposed" href="/images/ios-desktop.png"> -->

		<!-- Tile icon for Win8 (144x144 + tile color) -->
		<!-- <meta name="msapplication-TileImage" content="/images/touch/ms-touch-icon-144x144-precomposed.png"> -->
		<!-- <meta name="msapplication-TileColor" content="#3372DF"> -->

		<link rel="shortcut icon" href="/favicon.png">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">

		<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic&amp;lang=en" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-amber.min.css" />
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body class="{{ page.title }}-page mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header mdl-layout__header--scroll">
				<div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
				<div class="mdl-layout--large-screen-only mdl-layout__header-row">
					<h3>{{ site.title }}</h3>
				</div>
				<div class="mdl-layout--large-screen-only mdl-layout__header-row">
					<h4>{{ site.subtitle }}</h4>
				</div>
				<div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>

				<div class="mdl-layout--small-screen-only mdl-layout__header-row">
					<h3>{{ site.title }}</h3>
				</div>
				<!-- <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
					<a href="/" class="mdl-layout__tab is-active">Learn</a>
					<a href="https://find.customcommunities.net" class="mdl-layout__tab">Find</a>
					<a href="https://discuss.customcommunities.net" class="mdl-layout__tab">Discuss</a>
					<a href="https://collaborate.customcommunities.net/login" class="mdl-layout__tab">Login</a>
				</div> -->
			</header>
			<main class="mdl-layout__content">

				{% block content %}{% endblock %}

				<!-- {% include '../components/feedback-form/feedback-form.html' %} -->

				<footer class="mdl-mini-footer">
					<div class="mdl-mini-footer__left-section">
						<div class="mdl-logo">Learn:</div>
						<ul class="mdl-mini-footer__link-list">
							<li><a href="/process">Process</a></li>
							<li><a href="/building">Building</a></li>
							<!-- <li><a href="/resources">Resrouces</a></li> -->
						</ul>
					</div>

					<div class="mdl-mini-footer__right-section">
						<!-- <div class="mdl-logo">{{ site.title }}</div>
						<ul class="mdl-mini-footer__link-list">
							<li><a href="about.html">About</a></li>
							<li><a href="legal.html">Privacy & Terms</a></li>
						</ul> -->
						<img src="/favicon.png" style="width: 60px; height: auto;">
					</div>
				</footer>
			</main>
		</div>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-73070556-1', 'auto');
		ga('send', 'pageview');
		</script>
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
